@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__site-nav,
.features__list,
.extra-features-list,
.footer__social,
.hotel-filter__form ul,
.sorter-list,
.founded-hotels__list {
  list-style: none;
}

.main-nav a {
  font-weight: 700;
  line-height: 26px;
  color: inherit;
  text-align: center;
}

.main-nav a:focus,
.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:focus,
.hotel-filter__form input:focus {
  outline: 3px solid #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav a.current-link {
  color: #766357;
}

.welcome {
  min-height: 510px;

  text-align: center;

  background-color: #b7d4e5;
  background-image: url("../img/mask.svg"), url("../img/background-photo.jpg");
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features__subtitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  color: #333333;
}

.features-item__text,
.extra-features-item {
  text-align: center;
}

.features-item__text--blue-bg {
  color: #ffffff;

  background-color: #82b3d3;
}

.features-item__text--gray-bg {
  background-color: #eeeeee;
}

.features-item__text--gray-bg p,
.extra-features-item p {
  color: #333333;
}

.features-item__text h3,
.extra-features-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.hotel-search {
  text-align: center;
}

.hotel-search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.hotel-search .description {
  line-height: 24px;
  color: #333333;
}

.hotel-search .form-open {
  display: inline-block;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  background-color: #766257;
  border: none;
}

.hotel-search .form-open:focus {
  outline: 3px solid #81b3d2;
}

.hotel-search .form-open:hover {
  background-color: #604e43;
}

.hotel-search .form-open:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-search__form {
  text-align: center;
}

.hotel-search__form,
.hotel-search input {
  font-weight: 700;
  line-height: 26px;
}

.hotel-search input {
  text-align: left;
  background-color: #f2f2f2;
  border: none;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.hotel-search__form .btn-calendar {
  vertical-align: middle;
  background-color: transparent;
  border: none;
}

.btn-calendar:focus {
  outline: 3px solid #81b3d2;
}

.btn-calendar:focus svg,
.btn-calendar:hover svg {
  fill: #000000;
}

.btn-calendar:active svg {
  fill: #81b3d2;
}

.hotel-search__form .bth-count {
  font-size: 21px;
  font-weight: 700;
  color: #a9a9a9;

  background-color: transparent;
  border: none;
}

.hotel-search__form .bth-count:focus {
  outline: 3px solid #81b3d2;
}

.hotel-search__form .bth-count:focus,
.hotel-search__form .bth-count:hover {
  color: #000000;
}

.hotel-search__form .bth-count:active {
  color: #81b3d2;
}

.hotel-search__form .btn-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.hotel-search__form .btn-search:focus {
  outline: none;
}

.hotel-search__form .btn-search:focus,
.hotel-search__form .btn-search:hover {
  background-color: #669ec0;
}

.hotel-search__form .btn-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer__social-btn {
  font-size: 0;
  text-align: center;
  vertical-align: middle;

  display: inline-block;
  width: 46px;
  height: 34px;
  padding-top: 12px;

  background-color: #81b3d2;
}

.footer__social-btn:first-child {
  padding-top: 16px;
  height: 30px;
}

.footer__social-btn:last-child {
  padding-top: 15px;
  height: 31px;
}

.footer__social-btn:focus {
  outline: none;
}

.footer__social-btn:focus,
.footer__social-btn:hover {
  background-color: #669ec0;
}

.footer__social-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer__social-btn:active svg {
  opacity: 0.3;
}

.footer__copyright {
  line-height: 26px;
}

.footer__copyright svg {
  width: 115px;
  height: 41px;
  fill: #000000;
  vertical-align: middle;
}

.footer__copyright a {
  color: inherit;
}

.footer__copyright a:focus {
  outline: none;
}

.footer__copyright a:focus svg,
.footer__copyright a:hover svg {
  fill: #81b3d2;
}

.footer__copyright a:active svg {
  fill: #bdbbbc;
}

.filters {
  background-color: #729CC4;
  background-image: url("../img/filter-background.jpg");
  background-position: center center;
}

.hotel-filter__form fieldset {
  color: #ffffff;
  display: inline-block;
  border: none;
}

.hotel-filter__form legend {
  font-size: 16px;
  font-weight: 700;
}

.price-controls,
.show-filtered-hotels {
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls input,
.show-filtered-hotels {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background: transparent;
  border: none;
}

.show-filtered-hotels {
  border: 2px solid #ffffff;
}

.show-filtered-hotels:focus,
.show-filtered-hotels:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  outline: none;
}

.show-filtered-hotels:focus {
  border-color: #81b3d2;
}

.decorative-slash {
  font-weight: 700;
}

.results-text {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorter-title,
.sorter-list a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorter-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sorter-list .current-link {
  text-decoration: none;
}

.sorter-list a:focus {
  outline: 3px solid #81b3d2;
}

.sorter-list .current-link,
.sorter-list a:hover {
  color: #81b3d2;
}

.sorter-list a:active {
  color: #000000;
  text-decoration: none;
}

.hotel-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotel-name:focus,
.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-param {
  color: #333333;
}

.hotel-links a {
  font-weight: bold;
  color: #ffffff;
}

.hotel-more {
  background-color: #81b3d2;
}

.hotel-more:focus,
.hotel-more:hover {
  background-color: #669ec0;
}

.hotel-more:active {
  background-color: #5496bd;
}

.hotel-buy {
  background-color: #766357;
}

.hotel-buy:focus,
.hotel-buy:hover {
  background-color: #604e43;
}

.hotel-buy:active {
  background-color: #503e33;
}

.hotel-more:active,
.hotel-buy:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating__stars {
  font-size: 0;
}

.rating__star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
}

.rating__text {
  color: #666666;
}
